name: Node.js CI

on:
  workflow_call:
    inputs:
      runs-on: 
        default: 'ubuntu-latest'
jobs:
  build:

    runs-on: ${{ inputs.runs-on }}
    
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
